{% extends 'base.html.twig' %}

{% block title %}Video index{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead style="color: #8B6DF6">
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for video in videos %}
        <thead style="color: white">
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.titre }}</td>
                <td>{{ video.lien  | slice(0,50) }}</td>
                <td>{{ video.description  | slice(0,50) }}</td>
                <td>{{ video.categorie.nom }}</td>
                <td>
                    {% for tag in video.tags %}
                        <h5 style="color: {{ tag.couleur }}">{{ tag.nom }}</h5>
                    {% endfor %}

                </td>
                <td>
                    <a href="{{ path('video_show', {'id': video.id}) }}">Voir</a>
                    <a href="{{ path('video_edit', {'id': video.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            </thead>
        {% endfor %}
    </table>

    <a href="{{ path('video_new') }}"  class="btn btn-primary">Créer une nouvelle vidéo</a>
{% endblock %}
