{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom de la categorie</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Numéro de la categorie</th>
                <td>{{ categorie.numeroCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}" class="btn btn-primary">Retour à la lite des catégories</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="btn btn-primary"style="background-color: #8B6DF6; color: white; margin-bottom: 20px; margin-top: 20px">Modifier</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
