{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>{{ user.pseudo }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Compte vérifier</th>
                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}"class="btn btn-primary">Retour à la liste des utilisateurs</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}"class="btn btn-primary" style="background-color: #8B6DF6; color: white; margin-bottom: 20px; margin-top: 20px">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
